<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Comprovante de Compra - Pagar.me</title>
  </head>

  <body>
    Comprovante:
    <br />
    <%= JSON.stringify(receipt) %>
  </body>
</html>

