html {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
}

body {
  font-family: 'Hind', sans-serif;
  position: absolute;
  top: 50%;
}

h1, h4, h5 {
  color: #5c666a;
  overflow-wrap: break-word;
}

.logo {
  display: block;
  width: 99px;
  height: 29px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/pagarme.svg');
}

@media only screen and (min-device-width : 768px) and (max-device-width: 1366px) {
  body {
    transform: translateY(50%);
    left: 20%;
  }
}

@media only screen and (min-device-width : 1367px) {
  body {
    transform: translateY(50%);
  }
}